$primary-black: #11100B;
$primary-white: #FEFEFC;
$neutral-1: #611C31;
$secondary-1: #932248;
$accent-1: #D61F4B;
$neutral-2: #0F3C5A;
$secondary-2: #014A6A;
$accent-2: #2C87B9;

$default-font: 'Montserrat', sans-serif;
